<header>
    <div class="header">
        <div class="logo">
            <a href="#">
                <h1>Elliot IA</h1>
            </a>
        </div>
        <div class="nav-menu">
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/programas">programas</a></li>
            <li><a routerLink="/alumnos">Alumnos</a></li>
            <li><a routerLink="/whatsapp">Whatsapp</a></li>
            <li><a routerLink="/nosotros">Nosotros</a></li>
        </div>
    </div>

    <div class="corpus">
        <div class="corpus-txt">
            <h1>Elliot IA </h1>
            <p>¿No sabes que carrera universitaria estudiar?
                Nuestra plataforma esta aqui para ayudarte a encontrar la carrera ideal 
                segun tus intereses, habilidades y aspiraciones. A traves de un analisis
                personalizado te brindamos informacion clara y confiable sobre cada carrera 
                como su duracion, materias y su respectivo costo.
            </p>
            <p>Explora con Confianza. Decide con Inteligencia</p>
           <button (click)="navigateToAvatar()">COMIENZA AHORA</button>
           <div class="voice-interface">
            <button id="recordButton" class="voice-button">Hablar con Elliot</button>
            <div id="voiceStatus" class="voice-status">Presiona el botón para hablar</div>
            <audio id="responseAudio" hidden></audio>
          </div>
        </div>
        <div class="img"></div>
    </div>
</header>

<main>
    <div class="informacion">
        <h2>¿QUE SOMOS?</h2>
        <p>
            Somos una plataforma que combina la tecnologia y la educacion estamos aqui para 
            ayudarte a elgir tu carrera universitaria.Nuestro proposito es guiarte de forma
            clara, confiable y personalizada con seguridad y sentido.Combinamos la inteligencia
            artificial con la orientacion academica para ayudarte a encontrar la carrera que se 
            ajusta a ti. Mas que una platafroma, somos uan guia para que tomes decisiones sobre 
            tu futuro profesional.
        </p>
        <div class="programas">
            <div class="programa">
                <div class="img1"></div>
            </div>
        </div>
    </div>

    <div class="presentacion">
        <h2>Programas </h2>
        <div class="presentacion-interno">
            <div class="img-presentacion">
                <div class="img-software"></div>
            </div>
            <div class="txt-presentacion">
                <h2>Ingeníeria De Software</h2>
                <p>
                    Es una rama de la Ingeníeria que se encarga del diseño
                    desarrollo, prueba y mantenimiento de sistemas y aplicaciones
                    informaticas.Su objetivo principal es crear programas eficientes 
                    seguros y adaptables a las necesidades del usuario
                </p>
                <button (click)="navigateToAvatar()">Consultar</button>
            </div>
        </div>
    </div>

    <div class="presentacion">
        <div class="presentacion-interno ">
            <div class="txt-presentacion">
                <h2>Medicina</h2>
                <p>
                    Es una carrera dedicada al estudio,diagnostico,tratamiento 
                    y prevencion de las enfermedades que afectan al ser humano.
                    Quienes estudian se preparan para cuidar la salud fisica
                    combinando conocimientos cientificos,habilidades clinicas y 
                    un profundo copromiso ético
                </p>
                <button (click)="navigateToAvatar()">Consultar</button>
            </div>
            <div class="img-presentacion">
                <div class="img-medicina"></div>
            </div>
        </div>
    </div>

    <div class="presentacion">
        <div class="presentacion-interno">
            <div class="img-presentacion">
                <div class="img-derecho"></div>
            </div>

            <div class="txt-presentacion">
                <h2>Derecho</h2>
                <p>
                    Estudia el conjunto de normas que regulan la convivencia en sociedad,
                    formando profesionales que interpretan, aplican y hacen  valer las leyes 
                    su objetivo es garantizar la justicia,resolver conflictos y proteger los derechos
                    de las personas y la sociedad en conjunto.
                </p>
                <button (click)="navigateToAvatar()">Consultar</button>
            </div>
        </div>
    </div>

    <div class="presentacion">
        <div class="presentacion-interno">
            <div class="txt-presentacion">
                <h2>Ingenieria Indsutrial</h2>
                <p>
                    Es una carrera enfocada en optimizar procesos,recursos y
                    sistemas dentro de empresas y organizaciones, con el objetivo 
                    de mejorar su eficiencia, productividad y calidad.Quienes estudian
                    esta carrera aprenden a analizar y diseñar soluciones que integran 
                    personas,tecnologia,materiales,energia e informacion.
                </p>
                <button (click)="navigateToAvatar()">Consultar</button>
            </div>
            <div class="img-presentacion">
                <div class="img-industrial"></div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-contain">
            <div>
                <h3>NOSOTROS</h3>
                <p>Somos un equipo comprometido con trasformar la forma
                    en que los jovenes descubren su vocacion profesional. 
                    Nuestra mision es brindar una orientacion clara y confiable 
                    para que cada estudiante pueda tomar decisiones informadas
                    sobre su futuro. Combinamos la inteligencia artificial con 
                    la orientacion academica para ofecer una herramienta 
                    confiable,personalizada y facil de usar. 
                </p>
            </div>
            <div>
                <div class="contacto-redes">
                    <h3>CONTÁCTANOS</h3>
                    <div class="redes-sociales">
                        <a href="https://api.whatsapp.com/send?phone=573013888888" class="icono-whatsapp" target="_blank" title="WhatsApp UCC"></a>
                        
                        <a href="https://www.instagram.com/universidadcooperativadecolombia/" class="icono-instagram" target="_blank" title="Instagram UCC"></a>
                        
                        <a href="https://www.facebook.com/UniversidadCooperativadeColombia" class="icono-facebook" target="_blank" title="Facebook UCC"></a>
                        
                        <a href="mailto:contactenos@ucc.edu.co" class="icono-email" title="Email UCC"></a>
                        
                        <a href="tel:+573013888888" class="icono-telefono" title="Llamar a UCC"></a>
                        
                        <a href="https://www.ucc.edu.co" class="icono-pagina" title="Sitio Web UCC" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</main>